doctype html
html
  head
    title New Book Added
  body
    h1 New Book Notification
    p A new book has been added to the system:
    ul
      li Title: #{title}
      li Author: #{author}
      li Year Published: #{year}
    p Thank you!
